@import "../../colors.scss";

.options {
    background-color: $background-grey;

    .option-label {
        background-color: $background-grey;
        font-size: 19;

        &.top {
            text-align: center;
        }
    }

    .options-add {
        margin-top: 40px;

        TextField {
            height: 140px;
            border-width: 2px;
            border: 2px solid $grey;
            background-color: $white;
            padding-left: 15x;
            padding-top: 35px;
            margin: 20px 5px 0 5px;
        }

        .added {
            margin-top: 20px;
            text-align: center;
            font-size: 22;
            background-color: $background-grey;
        }

        Button {
            margin: 20px 5px 0 5px;

            &.disabled {
                background-color: $button-disable;
            }
            &.active {
                background-color: $yellow;
            }
        }

        .add-gender {
            border-width: 2px;
            border: 2px solid $grey;
            margin: 20px 5px 0 5px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                padding: 0px;
                margin: 0px;
            }
            .selector Label {
                padding-top: 32px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}
