@import "../../colors.scss";

.options {
    background-color: $background-grey;

    .option-label {
        background-color: $background-grey;
        font-size: 19;

        &.top {
            text-align: center;
        }
    }

    Button {
        margin: 10dp 3dp;

        &.disabled {
            background-color: $button-disable;
        }
        &.active {
            background-color: $yellow;
        }
    }

    .relay {
        margin: 5px;
        background-color: rgb(255, 255, 255);

        &.disabled {
            background-color: rgb(221, 221, 221);
        }
    }
}
