@import "../../colors.scss";

.options {
    background-color: $background-grey;

    .option-label {
        background-color: $background-grey;
        font-size: 19;

        &.top {
            text-align: center;
        }
    }

    Button {
        margin: 20px 5px 0 5px;

        &.disabled {
            background-color: $button-disable;
        }
        &.active {
            background-color: $yellow;
        }
    }
}
