TextField {
    vertical-align: top;
    height: 110px;
    padding-left: 20px;
    border-width: 2px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 30px 10px 0 10px;
}

.search-results {
    margin: 10px;
    background-color: blue($color: #dff0fa);
}

// StackLayout {}

FlexboxLayout {
    background-color: greenyellow;
    margin: 0, 10px;
}