.search-layout {
    background-color: rgb(197, 192, 192);
}



TextField {
    background-color: white;
    vertical-align: top;
    height: 110px;
    padding-left: 20px;
    border-width: 2px;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 30px 10px 0 10px;
}

// FlexboxLayout {
//     background-color: hotpink;
// }


ListView{
    padding: 1px;
}

FlexboxLayout.search-result {
    background-color: rgb(197, 192, 192);
    padding: 10px;
    Label {
        background-color: white;
        padding: 20px;
        margin: 0px;
        margin-bottom: 0px;
    }
}

