* {
    font-size: larger;
}

.search-layout {
    background-color: rgb(197, 192, 192);
}

TextField {
    background-color: white;
    vertical-align: top;
    height: 110px;
    padding-left: 20px;
    border-width: 2px;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 30px 10px;
}

ListView{
    padding: 1px;
}

GridLayout.search-result {
    background-color: rgb(197, 192, 192);
    margin: 10px;
    Label {
        background-color: white;
        padding: 20px;
        
        &.first{
            border-color: rgb(255, 196, 0);

            border-width: 0 0 0 4;
        }
    }
}

Button {
    background-color: rgb(255, 235, 193);
}

