@import "../../colors.scss";

.selector {
    height: 42dp;
    margin: 2dp 0 6dp;
    background-color: $white;

    text-align: center;

    > * {
        font-weight: bold;
        font-size: 18;
    }

    Image {
        background-color: $white;
        height: 34dp;
        width: 34dp;

        &.first {
            rotate: 180;
        }
    }
}
