@import "./colors.scss";

.page {
    background-color: $background-grey;
}

Tabview {
    font-size: 17;
}

ListView {
    separator-color: transparent;
}

button {
    background-color: $button-yellow;
    border-radius: 10px;
    margin: 28px;
    font-size: 20rem;
    color: $button-border;
    border-width: 2px;
    border-color: $button-border;
}

.label-top {
    font-size: 16;
    background-color: #29648a;
    color: rgb(228, 228, 228);
    border-radius: 10px;
    margin: 10px 0 20px;
    text-align: center;
    padding: 10px;
}

label {
    background-color: $white;
    padding: 20px;
    font-size: 16;
}

GridLayout.container {
    padding: 10px 20px;
}

