$white: #ffffff;

$background-grey: #c4c2c2;
$grey: #808080;
$light-grey: #e4e4e4;
$dark-grey: #4b4b4b;

$remove-red: #f7d6d6;
$select-item: #fff0be;
$red: #be1a1a;
$green: #87ad5b;
$yellow: #ffc400;

$button-yellow: #ffe591;
$button-border: #5c5745;

$base-blue: #29648a;