@import "../../colors.scss";

GridLayout.calculate {

    .relay-selector {
        padding: 15px;

        text-align: center;
        
        > * {
            font-weight: bold;
            font-size: 18;

        }
    }

    .selection-item {
        color: $dark-grey;
        padding: 5px;

        .first {
            border-color: $yellow;
            border-width: 0 0 0 6;
        }
        
        &.disabled{
            color: $grey;
            > * {
                background-color: $light-grey;
            }

            .first {
                border-width: 0;
            }
        }
    }
}