@import "../../colors.scss";

GridLayout.calculate {

    .selection-item {
        color: $dark-grey;
        padding: 6px 0;
        height: 120px;

        .first {
            border-color: $yellow;
            border-width: 0 0 0 6;
        }

        &.disabled {
            color: $grey;
            > * {
                background-color: $light-grey;
            }

            .first {
                border-width: 0;
            }
        }
    }

    .team-results {
        > * {
            text-align: center;
            font-size: 16;
            padding: 15px 0 15px 5px;
            color: $dark-grey;
        }
        .ind-time {
            color: initial;
            font-size: 14;
        }
    }
}
