@import "../../colors.scss";

GridLayout.calculate {

    .relay-selector {
        margin: 15px;
        background-color: $white;

        text-align: center;
        
        > * {
            font-weight: bold;
            font-size: 18;
        }
        
        Image {
            background-color: $white;
            height: 100px;
            width: 100px;

            &.first{
                rotate: 180;
            }
        }
    }

    .selection-item {
        color: $dark-grey;
        padding: 5px;

        .first {
            border-color: $yellow;
            border-width: 0 0 0 6;
        }
        
        &.disabled{
            color: $grey;
            > * {
                background-color: $light-grey;
            }

            .first {
                border-width: 0;
            }
        }
    }
}