@import '../../colors.scss';

.times-top {
    margin: 20px;
    background-color: $base-blue;
    padding: 10px 3px;
    border-radius: 10px;
    > * {
        background-color: $base-blue;
        text-align: center;
        font-size: 14;
        padding: 0px;
        color: $white;
    }
}
