@import '../../colors.scss';

.details-label {
    color: $dark-grey;
    margin: 5px 0;
}

.details > * {
    font-size: 12;
    padding: 0px 5px;
    text-align: center;
}

.times-top {
    background-color: $base-blue;
    padding: 10px 3px;
    margin: 0 0 15px;
    border-radius: 10px;
    > * {
        background-color: $base-blue;
        text-align: center;
        font-size: 14;
        padding: 0px;
        color: $white;
    }
}

.edit-icon{
    font-family: Icons; 
    font-size: 22;
    color: $grey;
}

.edit > * {
    text-align: start;
    padding: 19px;
    font-size: 16;
}

TextField {
    background-color: $white;
    font-size: 16;
}