@import "../../colors.scss";

.times {
    .details-label {
        color: $dark-grey;
        margin: 3dp 0;
        height: 45dp;
        > * {
            padding: 10dp 0 10dp 7dp;
        }
    
        background-color: white;
    
        > Image {
            height: 27dp;
            height: 27dp;
            margin: 0 11dp;
        }
    
        > Label.last{
            border-color: $yellow;
            border-width: 0 6 0 0;
    
            &.loaded {
                border-color: $green;
            }
        }
    }
    
    .details > * {
        font-size: 12;
        padding: 0dp 2dp;
        text-align: center;
    }
    
    .times-top {
        background-color: $base-blue;
        padding: 3dp 1dp;
        margin: 5dp 0;
        border-radius: 4dp;
        > * {
            background-color: $base-blue;
            text-align: center;
            font-size: 14;
            padding: 0dp;
            color: $white;
        }
    }
    
    .edit > * {
        text-align: start;
        padding: 6.5dp;
        font-size: 16;
    }
    
    TextField {
        background-color: #ebebeb;
    }
    
    .single-time {
        margin: 0;
        padding: 0;
    }   
}
