@import "../../colors.scss";

.swimmers-layout {
    .search-bar {
        > * {
            height: 140px;
            border-width: 2px;
            border: 2px solid $grey;
            border-radius: 10px;
            padding-bottom: 30px;
            margin: 10px 0 20px;
        }

        TextField {
            background-color: $white;
            padding-left: 15x;
            padding-top: 35px;
            margin-right: 10px;
        }

        .search-button {
            padding: 10px 14px;
            background-color: $button-yellow;

            &.active {
                background-color: $yellow;
            }
        }
    }
    
    Label.no-results {
        background-color: $background-grey;
        font-size: 20;
        text-align: center;
    }

    .search-result {
        height: 120px;
        padding: 6px 0;

        &.clicked Label {
            background-color: $select-item;
        }

        &.removed {
            Label {
                background-color: $remove-red;

                &.remove {
                    color: $red;
                }
            }
        }

        &.selection {
            color: black;

            Label.first {
                border-color: $yellow;
                border-width: 0 0 0 6;
            }
            &.loaded Label.first {
                border-color: $green;
            }
        }
    }
    
    .manual-add {

        TextField {
            height: 140px;
            border-width: 2px;
            border: 2px solid $grey;
            background-color: $white;
            padding-left: 15x;
            padding-top: 35px;
            margin: 20px 5px 0 5px;

            &.invalid {
                border-width: 4px;
                border-color: $red;
            }
        }

        Button {
            margin-top: 30px;
        }

        .added {
            margin-top: 20px;
            text-align: center;
            font-size: 22;
            background-color: $background-grey;
        }


        .add-gender {
            border-width: 2px;
            border: 2px solid $grey;
            margin: 20px 5px 0 5px;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;

            > * {
                padding: 0px;
                margin: 0px;
            }
            .selector Label {
                padding-top: 32px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

