@import "../../colors.scss";

.swimmers-layout {
    .search-bar {
        > * {
            height: 48dp;
            border-width: 2px;
            border: 2px solid $grey;
            border-radius: 4dp;
            padding-bottom: 10dp;
            margin: 3dp 0 7dp;
        }

        TextField {
            background-color: $white;
            padding-left: 12dp;
            padding-top: 12dp;
            margin-right: 3dp;
        }

        .search-button {
            padding: 3dp 4dp;
            background-color: $button-yellow;

            &.active {
                background-color: $yellow;
            }
        }
    }
    
    Label.no-results {
        background-color: $background-grey;
        font-size: 20;
        text-align: center;
    }

    .search-result {
        height: 45dp;
        padding: 2dp 0;

        &.clicked Label {
            background-color: $select-item;
        }

        &.removed {
            Label {
                background-color: $remove-red;

                &.remove {
                    color: $red;
                }
            }
        }

        &.selection {
            color: black;

            Label.first {
                border-color: $yellow;
                border-width: 0 0 0 6;
            }
            &.loaded Label.first {
                border-color: $green;
            }
        }
    }
    
    .manual-add {
        TextField {
            height: 48dp;
            border-width: 2px;
            border: 2px solid $grey;
            background-color: $white;
            border-radius: 4dp;
            padding-bottom: 10dp;
            margin: 3dp 3dp 7dp;         

            &.invalid {
                border-width: 4px;
                border-color: $red;
            }
        }

        Button {
            margin: 10dp 3dp;
        }

        .add-gender {
            border-width: 2px;
            border: 2px solid $grey;
            height: 48dp;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 3dp 3dp 7dp;         

            > * {
                padding: 0px;
                margin: 0px;
            }
            
            .selector {
                height: 48dp;

                Label {
   
                    justify-content: center;
                    text-align: center;
                }
            }      
        }
    }
}

