@import '../../colors.scss';

.search-layout {

    TextField {
        background-color: $white;
        height: 120px;
        padding-left: 20px;
        padding-top: 35px;
        padding-bottom: 30px;
        border-width: 2px;
        border: 2px solid $border-grey;
        border-radius: 10px;
        margin: 30px 10px;
    }

    GridLayout.search-result {

        &.removed {
            Label {
                background-color: $remove-red;

                &.remove {
                    color: $red;
                }
            }
        }

        &.selection {

            color: black;

            Label.first {
                border-color: $yellow;
                border-width: 0 0 0 6;
            }
            &.loaded Label.first {
                border-color: $green;
            }
        }
    }
}
